<!-- 
  Angular Materials
  Progress Bar
  ToolTips
-->
<div class="all-main-holder">
  <div>
    <h1 class="text-headings">spli</h1>
    <h1 class="text-headings">tter</h1>
  </div>

  <!-- LEFT SITE -->
  <div class="all-main-holder-2">
    <form action="" class="main-left-container">
      <main class="main-left-container">
        <div>
          <label for="bill">Bill</label><br />
          <input
            [(ngModel)]="amount"
            name="bill"
            type="text"
            id="bill"
            value=""
            placeholder="Bill amount"
            inputmode="numeric"
          />
        </div>
        <div class="btn-holder">
          <p>Select Tip %</p>
          <div class="buttons-container">
            <button
              *ngFor="let item of tipAmounts"
              class="btn-tip"
              type="button"
              id="{{ item }}"
              (click)="selectTip($event)"
            >
              {{ item }}%
            </button>
            <input
              class="input-tip"
              [(ngModel)]="customValue"
              name="custom"
              type="text"
              id="vustom"
              value=""
              placeholder="Custom"
              inputmode="numeric"
              (change)="customValueChange($event)"
            />
          </div>
        </div>
        <div>
          <label for="num-people">Number of People</label><br />
          <input
            [(ngModel)]="numberOfPeople"
            name="people"
            value="{{ numberOfPeople }}"
            id="num-people"
            type="text"
            inputmode="numeric"
            (change)="numPeople()"
          />
        </div>
      </main>
    </form>

    <app-rightside
      [amount]="amount"
      [selectedAmount]="selectedAmount"
      [calculatedAmount]="calculatedAmount"
      [calculatedTotalAmount]="calculatedTotalAmount"
      [wrongAction]="wrongAction"
      [numberOfPeople]="numberOfPeople"
    ></app-rightside>
  </div>
</div>
